<div class="row" >

  <div class="col-12">
    <table class="table table-striped">
      <caption>Flag Submissions (in order of submission)</caption>
      <thead>
        <tr>
          <th>
            Flag Submission
          </th>
          <th>
            Team Attacked
          </th>
          <th>
            Submitted At
          </th>
          <th>
            Success
          </th>
        </tr>
      </thead>
      <tbody>
        <% if !@flag_submissions.blank? %>
          <% for submission in @flag_submissions%>
            <tr>
              <td>
                <%= submission.flag %>
              </td>
              <td>
                <%= if submission.owner then submission.owner.display_name end%>
              </td>
              <td>
                <%= submission.submitted_at %>
              </td>
              <td>
                <%= submission.success %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4>
              <h1>No Flag Submissions to display</h1>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
