<div class="row" >
  <div class="col-12">
    <table class="table table-striped">
      <tr>
        <th>
          Team Name
        </th>
        <th>
          Points
        </th>
        <th>
          Points This Round
        </th>
      </tr>
      <% if !@teams.blank? %>
        <% for team in @teams%>
          <tr>
            <td>
              <%= team.display_name %>
              <% if current_user == team %> (My Team) <% end %>
            </td>
            <td>
              <%= team.score %>
            </td>
            <td>
              <%= team.score_for_round %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan=4>
            <h1>No Teams to display</h1>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
