<div class="row" >

  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <caption>Integrities (in order of creation)</caption>
        <tr>
          <th>
            Id
          </th>
          <th>
            Created At
          </th>
          <th>
            Method?
          </th>
          <th>
            Success
          </th>
        </tr>
      </thead>
      <tbody>
        <% if !@integrities.blank? %>
          <% for integrity in @integrities%>
            <tr>
              <td>
                <%= integrity.id %>
              </td>
              <td>
                <%= integrity.created_at %>
              </td>
              <td>
                <%= integrity.method %>
              </td>
              <td>
                <%= integrity.success %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4>
              <h1>No Integrities to display</h1>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
