<div id="clock" class="clock pull-right">
	<h4 id="clock_text">
		Time Remaining=

		<span id="hours" class="hours"></span>
		<span id="minutes" class="minutes"></span>
		<small id="seconds" class="seconds"></small>
  </h4>
</div>
